docs/SUPER_ADMIN/manual_chatbot_rag/n8n-workflow-chat-rag.json
{
  "name": "Chat RAG - Conexão Hub",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-rag",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "chat-rag"
    },
    {
      "parameters": {
        "model": "gpt-4",
        "text": "={{ $json.message }}",
        "options": {}
      },
      "id": "embed-node",
      "name": "Embedding (Nomic)",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [500, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, title->>'pt-br' as title, type, 1 - (embedding <=> $1) as similarity FROM materials WHERE active = true ORDER BY embedding <=> $1 LIMIT 5",
        "options": {}
      },
      "id": "postgres-search",
      "name": "PostgreSQL Search",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [750, 300]
    },
    {
      "parameters": {
        "model": "gemini-2.0-flash",
        "messages": [
          {
            "role": "system",
            "content": "Você é um assistente da plataforma Conexão Hub. O usuário fez uma pergunta. Responda de forma amigável indicando materiais e trilhas relevantes. Inclua URLs clicáveis no formato: [Nome](URL)"
          },
          {
            "role": "user",
            "content": "={{ $json.message }}"
          }
        ],
        "options": {}
      },
      "id": "gemini-chat",
      "name": "Gemini Chat",
      "type": "n8n-nodes-base.googleGemini",
      "typeVersion": 1,
      "position": [1000, 300]
    },
    {
      "parameters": {
        "respondMode": "onReceived",
        "respondWith": "json",
        "options": {}
      },
      "id": "respond-webhook",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Embedding (Nomic)", "type": "main", "index": 0 }
        ]
      ]
    },
    "Embedding (Nomic)": {
      "main": [
        [
          { "node": "PostgreSQL Search", "type": "main", "index": 0 }
        ]
      ]
    },
    "PostgreSQL Search": {
      "main": [
        [
          { "node": "Gemini Chat", "type": "main", "index": 0 }
        ]
      ]
    },
    "Gemini Chat": {
      "main": [
        [
          { "node": "Respond to Webhook", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-05-10T00:00:00.000Z",
  "versionId": "1"
}